<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form action="/api/v1/index" method="GET"> <!-- Acción apunta a la misma página de inicio de sesión -->
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
</body>
</html>
